$blue-primary : #34405C;
$blue-secondary : #767F96;
$blue-light : #C7CCD9;
$green-success : #43CD43;
$red-danger : #E52020;
$grey-secondary : #767F96;
$grey-background : #F0F0F1;
$grey-extralight : #C1C5D0;
$blue-sms : #03A6EF;
$green-email: #48B948;
